/*BODY START*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*BODY END*/

/*MAIN START*/
.maincontent {
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    background-color: rgb(134, 134, 134);
}

.maintittle {
    font-size: 40px;
    font-weight: bold;
}

.inputarea {
    max-width: 800px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    padding: 2%;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.addItem {
    padding: 8px;
    font-size: 20px;
    border-radius: 5px 0px 0px 5px;
    border-style: none;
    width: 80%;
}

.submit {
    padding: 8px;
    font-size: 20px;
    border-radius: 0px 5px 5px 0px;
    border-style: none;
    min-width: 20%;
    font-weight: bold;
    color: white;
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(85, 85, 85);
}

/*MAIN END*/


/*TASK ITEMS START*/
.taskItems {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-right: 40px;
}

.taskdescription {
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: rgb(134, 134, 134);
    padding: 8px;
    margin: 20px;
    border-radius: 5px;
    border-style: none;
}

.taskdescription p {
    text-align: left;
    font-size: 20px;
    ;
}

.erase {
    font-size: 22px;
    cursor: pointer;
    padding: 5px;
}

/*TASK ITEMS END*/